<video onloadedmetadata="this.muted=true" autoplay muted loop id="myVideo">
  <source src="video.mp4" type="video/mp4">
  Your browser does not support video.
</video>

<main>
  <section>
    <h1>Comienza 2025 con el mejor <span>servicio</span> de <strong>Localizacion Vehicular...</strong></h1>
    <figure>
      fimtrack
    </figure>
    <p>
      Las promociones no son acumulables. Se aceptan todas las tarjetas de crédito Amex, Visa, Master Card. Aplica únicamente para las contrataciones hechas los días 15 al 18 de Noviembre del 2024. No aplica para contrataciones hechas antes del 15 de Noviembre o posteriores al 20 de Noviembre de 2024. La promoción aplica para vehículos 0 kms. 2024 y 2025. Aplica unicamente pagando a Fimtrack.
    </p>
  </section>

  <section>
   <h2>Con pagos de <strong>Contado</strong>:</h2>
   <article (click)="handleEvent($event)">
     <header>
      <h3>PLAN DE <br><strong>24</strong> <br><span>meses</span></h3>
      <h3>PLAN DE <br><strong>36</strong> <br><span>meses</span></h3>
     </header>
     <footer>
      <h3>6 <br><span>meses</span></h3>
      <h4>de servicio adicional <span><br>de localizacion</span> <br><strong>GRATIS</strong></h4>
     </footer>
   </article>
   <article (click)="handleEvent($event)">
     <header>
      <h3>PLAN DE <br><strong>48</strong> <br><span>meses</span></h3>
      <h3>PLAN DE <br><strong>60</strong> <br><span>meses</span></h3>
     </header>
     <footer>
      <h3>12 <br><span>meses</span></h3>
      <h4>de servicio adicional <span><br>de localizacion</span> <br><strong>GRATIS</strong></h4>
     </footer>
   </article>
  </section>

  <section>
   <h2>Pagos con <br><strong>Tarjeta de Crédito</strong>:</h2>
   <article (click)="handleEvent($event)">
     <header>
      <h3>PLAN DE <strong>24</strong> <br><span>meses</span></h3>
     </header>
     <footer>
      <h3>6</h3>
      <h4><span>meses</span> <br>con cargos recurrentes</h4>
     </footer>
   </article>
   <article (click)="handleEvent($event)">
     <header>
      <h3>PLAN DE <strong>36</strong> <br><span>meses</span></h3>
     </header>
     <footer>
      <h3>9</h3>
      <h4><span>meses</span> <br>con cargos recurrentes</h4>
     </footer>
   </article>
   <article (click)="handleEvent($event)">
     <header>
      <h3>PLAN DE <strong>48</strong> <br><span>meses</span></h3>
     </header>
     <footer>
      <h3>12</h3>
      <h4><span>meses</span> <br>con cargos recurrentes</h4>
     </footer>
   </article>
   <article (click)="handleEvent($event)">
     <header>
      <h3>PLAN DE <strong>60</strong> <br><span>meses</span></h3>
     </header>
     <footer>
      <h3>15</h3>
      <h4><span>meses</span> <br>con cargos recurrentes</h4>
     </footer>
   </article>
  </section>
</main>
